
 
 

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8" style="width: 96%;margin-left: 10px;">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="FirstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.FirstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="LastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> LastName </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.LastName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="PhoneNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> PhoneNumber </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.PhoneNumber}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> email </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header> role </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.role}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> action </mat-header-cell>
      <mat-cell *matCellDef="let row">  <button mat-icon-button color="warn"
         class="btn btn-sm btn-danger" (click)="deleteUser(row)" 
         [disabled]="auth.currentUser._id === row._id">
        <i class="fa fa-trash"></i>
      </button> </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

